doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(href='/css/normalize.css', rel='stylesheet')
    link(href='/css/buttons.css', rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')

  body


  nav.navbar.navbar-default(role='navigation')
    .container-fluid
        //
           Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Brand
        //
           Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/resume') Resume
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
                li.divider
                li
                  a(href='#') One more separated link
          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit
          ul.nav.navbar-nav.navbar-right
            li
              li: a(href='/contact') Contact
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='/projects') Portfolio
                if(user)
                  li: a(href='/logout')= user.email
                  li: a(href='/projects/new') New Project
        //
           /.navbar-collapse
      //
         /.container-fluid




    //- #nav
    //-   ul
    //-     li: a(href='/') Home
    //-     li: a(href='/about') About
    //-     li: a(href='/faq') Faq
    //-     li: a(href='/contact') Contact
    //-     li: a(href='/resume') Resume
    //-     li: a(href='/login') Login
    //-     li: a(href='/projects') Portfolio
    //-     if(user)
    //-       li: a(href='/logout')= user.email
    //-       li: a(href='/projects/new') New Project

    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/buttons.js')
    script(src='/js/vendor/traceur.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/es5/main.js')
    script(src='/js/es6/compiled/main.js')
    script(src='/js/es6/compiled/sockets.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

    block scripts
