extends ../shared/template

block content
  #resume
      
        strong Work Experience:
      p
        strong  GreekConnect.com—May, 2011- Present
      p
        | -Currently engaged in the process of developing a website that offers chapter management and communication services to fraternities and sororities
      p
        | -Daily work consists of working with a development team in India (ajency.in) to manage and refine the development of the site
      p
        | -The concept placed 2
        sup nd
        | and was awarded $3,000 in the Anderson Business Plan competition at the University of Tennessee
      p
        | -Awarded $3,000 in funding from the Boyd Venture Fund competition
      p
        | -Beta testing began with a University of Tennessee fraternity on January 12, 2014
      p
        strong Escalate Marketing (Shared Experiences)—May, 2013-August, 2013
      p
        | -Interned for Shared Experiences in New York City during the summer of 2013
      p
        | -Forecasted and monitored inventory levels for hummus sample trucks across the US and Canada
      p
        | -Created weekly and monthly recaps for our client: Sabra
      p
        strong
          | Enterprise rent-a-car—June, 2012 - December,
          sup
          | 2012
      p
        | -Interned for Enterprise during the summer of 2012
      p
        | -Finished in the top 5 of over 30 interns in East Tennessee in sales for the summer
      p
        | -Primary jobs consisted of selling various coverages to customers, making customer service calls, checking customers into cars and booking reservations
      p
        strong Richmond Watkins Basketball Training— May, 2011 - January, 2013
      p
        | -Started a basketball training business at the conclusion of my high school basketball career
      p
        | -Created a promotional website (
        a(href='http://www.richmondwatkins.com') www.richmondwatkins.com
        | )
      p
        | -Constructed an email list from local area school directories and implemented an email marketing campaign
      p
        | -Provided individual and small group training for boys and girls from 5
        sup th
        | grade through high school
      p
        | -Training services were provided in the summer months and during breaks in the school year
      p
        | -The business was recently handed down to my younger brother as I pursue other endeavors
      p
        strong  Education:
      p
        strong University of Tennessee, Knoxville
      p
        | -Double major in Business Management and Supply Chain Management
      p
        | -Collateral in Entrepreneurship
      p
        | -GPA 3.24
      p
        | -Expected Graduation Date: May 2014
      p
        | -Hope Scholarship Recipient
      p
        strong Ravenwood High School
      p
        | -Graduated with honors in the summer of 2009
      p
        | -GPA: 3.35 ACT: 28
      p
        strong
      p
        strong
      p
        strong
      p
        strong
      p
        strong
      p
        strong
      p
        strong Activities:
      p
        strong Eagle Scout
      p
        | -In the fall of 2008 I was awarded the rank of Eagle Scout from the Boy Scouts of America
      p
        | -For my Eagle Project, I organized, planned and directed a basketball camp for under-privileged kids through an inner city community center in Nashville,
        | Tennessee
      p
        strong
      p
        strong
          | London, Study Abroad Trip—May 10
          sup th
          | 2012- May 31
          sup st
          | 2012
      p
        | -Completed management and finance classes in London, England during my school’s mini term in the summer of 2012
      p
        strong Ravenwood Varsity Basketball August 2005 – February 2009
      p
        | -Played three years of varsity basketball
      p
        | -Made the all-district and all-region teams at the conclusion of my senior year
      p
        | -Both awards were voted on by the other coaches in the district
      p
        strong
      p
        strong Active member of Alpha Tau Omega Fraternity—Fall 2009-Present
      p
        | -Rush Committee Fall 2011
      p
        | -New members instructor Fall 2012
